*{
margin:10px;
padding:12px 20px;
background:#1e293b;
border-radius:25px;
}


.project{
background:#1e293b;
padding:25px;
margin:20px 0;
border-radius:15px;
transition:0.3s;
}


.project:hover{
transform:scale(1.03);
background:#38bdf8;
color:#020617;
}


form input, form textarea{
width:100%;
margin:10px 0;
padding:12px;
}


footer{
text-align:center;
padding:20px;
background:#020617;
}